.home-page {
  display: flex;
  background-image: url("/images/site/background_img.jpg");
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 3;
  height: 84vh;
}

.welcome-text {
  width: 20em;
  margin: 4rem;
  background-color: var(--secondary-color);
  border-radius: 2rem;
  font-family: var(--title-font-family);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  font-size: 1.5rem;
  line-height: 1.25;
  /* max-height: 8em; */
  /* overflow: auto; */
}

.author-spotlight {
  margin-top: 0px;
  align-items: center;
  text-align: center;
}

.category-image-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.category-image-items a {
  text-align: center;
  cursor: pointer;
}

.category-image-items div {
  padding: 0.5em 0;
  background: rgba(0, 0, 0, 0.5);
  /* last # is percent opacity */
  color: white;
  transform: translateY(-2.25em);
  margin-bottom: -2em;
}

.call-to-action {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  width: 70%;
  align-self: center;

}

.books-home {
  display: flex;
  flex-direction: row;
  /* gap:1rem; */
  justify-content: space-around;
}

.books-images-home {
  border-radius: 0.5rem;
  margin: 1rem;
}